LINKEDIN_CLIENT_ID=your_client_id
LINKEDIN_CLIENT_SECRET=your_client_secret
LINKEDIN_BUSINESS_ACCOUNT_ID=your_account_id
LINKEDIN_OAUTH_SCOPES=r_ads_reporting,r_ads,rw_ads,rw_organization_admin,r_organization_admin,r_basicprofile
LINKEDIN_ACCESS_TOKEN=your_access_token
LINKEDIN_REFRESH_TOKEN=your_refresh_token
LINKEDIN_API_VERSION=202605
LINKEDIN_TOKEN_PATH=./linkedin_token.json
